## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [74]:
import pandas as pd
import re

In [286]:
weather = pd.read_csv("/Users/celinaagostinho/Desktop/lab-data-cleaning/weather-raw.csv")
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [287]:
weather.columns

Index(['id', 'year', 'month', 'element', 'd1', 'd2', 'd3', 'd4', 'd5', 'd6',
       'd7', 'd8', 'd9', 'd10', 'd11', 'd12', 'd13', 'd14', 'd15', 'd16',
       'd17', 'd18', 'd19', 'd20', 'd21', 'd22', 'd23', 'd24', 'd25', 'd26',
       'd27', 'd28', 'd29', 'd30', 'd31'],
      dtype='object')

In [288]:
weather = weather.rename(columns={"id" : "weather_station"})
weather

,weather_station,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [289]:
weather["month-year"] = weather["month"].astype(str) + "-" + weather["year"].astype(str)
weather

,weather_station,year,month,element,d1,d2,d3,d4,d5,d6,...,d23,d24,d25,d26,d27,d28,d29,d30,d31,month-year
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN,1-2010
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN,1-2010
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2-2010
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2-2010
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3-2010
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3-2010
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN,4-2010
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,4-2010
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN,5-2010
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN,5-2010
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN,6-2010
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,6-2010
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7-2010
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7-2010
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4,8-2010
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4,8-2010
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN,10-2010
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,10-2010
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN,11-2010
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN,11-2010
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-2010
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-2010

In [290]:
# month-year column: how to get day from column name?
# transpose only min and max to column as well as daily values
# put date column closer to beginning: one row will be one date
# check data types
# .fillna
# add id column and generate ids

In [291]:

columns = ['weather_station', 'month-year', 'year', 'month', 'element']

weather = pd.melt(weather, id_vars = columns)
weather

    weather_station month-year  year  month element variable  value
0           MX17004     1-2010  2010      1    tmax       d1    NaN
1           MX17004     1-2010  2010      1    tmin       d1    NaN
2           MX17004     2-2010  2010      2    tmax       d1    NaN
3           MX17004     2-2010  2010      2    tmin       d1    NaN
4           MX17004     3-2010  2010      3    tmax       d1    NaN
..              ...        ...   ...    ...     ...      ...    ...
677         MX17004    10-2010  2010     10    tmin      d31    NaN
678         MX17004    11-2010  2010     11    tmax      d31    NaN
679         MX17004    11-2010  2010     11    tmin      d31    NaN
680         MX17004    12-2010  2010     12    tmax      d31    NaN
681         MX17004    12-2010  2010     12    tmin      d31    NaN

[682 rows x 7 columns]

In [292]:
weather.head(10)

  weather_station month-year  year  month element variable  value
0         MX17004     1-2010  2010      1    tmax       d1    NaN
1         MX17004     1-2010  2010      1    tmin       d1    NaN
2         MX17004     2-2010  2010      2    tmax       d1    NaN
3         MX17004     2-2010  2010      2    tmin       d1    NaN
4         MX17004     3-2010  2010      3    tmax       d1    NaN
5         MX17004     3-2010  2010      3    tmin       d1    NaN
6         MX17004     4-2010  2010      4    tmax       d1    NaN
7         MX17004     4-2010  2010      4    tmin       d1    NaN
8         MX17004     5-2010  2010      5    tmax       d1    NaN
9         MX17004     5-2010  2010      5    tmin       d1    NaN

In [293]:
weather.shape

(682, 7)

In [294]:
weather["date"] = weather["variable"].astype(str) + "-" + weather["month-year"].astype(str)
weather

,weather_station,month-year,year,month,element,variable,value,date
0,MX17004,1-2010,2010,1,tmax,d1,NaN,d1-1-2010
1,MX17004,1-2010,2010,1,tmin,d1,NaN,d1-1-2010
2,MX17004,2-2010,2010,2,tmax,d1,NaN,d1-2-2010
3,MX17004,2-2010,2010,2,tmin,d1,NaN,d1-2-2010
4,MX17004,3-2010,2010,3,tmax,d1,NaN,d1-3-2010
...,...,...,...,...,...,...,...,...
677,MX17004,10-2010,2010,10,tmin,d31,NaN,d31-10-2010
678,MX17004,11-2010,2010,11,tmax,d31,NaN,d31-11-2010
679,MX17004,11-2010,2010,11,tmin,d31,NaN,d31-11-2010
680,MX17004,12-2010,2010,12,tmax,d31,NaN,d31-12-2010
681,MX17004,12-2010,2010,12,tmin,d31,NaN,d31-12-2010

In [295]:
weather = weather.rename(columns={"value" : "reading"})

In [296]:
date_re = re.compile(r'[a-z]')

def correct_date(x):
  return date_re.sub('',x)

In [297]:
weather["date"] = weather["date"].astype(str).apply(correct_date)

In [298]:
weather

,weather_station,month-year,year,month,element,variable,reading,date
0,MX17004,1-2010,2010,1,tmax,d1,NaN,1-1-2010
1,MX17004,1-2010,2010,1,tmin,d1,NaN,1-1-2010
2,MX17004,2-2010,2010,2,tmax,d1,NaN,1-2-2010
3,MX17004,2-2010,2010,2,tmin,d1,NaN,1-2-2010
4,MX17004,3-2010,2010,3,tmax,d1,NaN,1-3-2010
...,...,...,...,...,...,...,...,...
677,MX17004,10-2010,2010,10,tmin,d31,NaN,31-10-2010
678,MX17004,11-2010,2010,11,tmax,d31,NaN,31-11-2010
679,MX17004,11-2010,2010,11,tmin,d31,NaN,31-11-2010
680,MX17004,12-2010,2010,12,tmax,d31,NaN,31-12-2010
681,MX17004,12-2010,2010,12,tmin,d31,NaN,31-12-2010

In [299]:
#Make a list to drop
drop_cols = ["variable"]   
weather = weather.drop(drop_cols, axis=1)

In [300]:

weather["tmax"] = weather["reading"].where(weather["element"]=="tmax")

#job_title["jobTitle"]=job_title["jobTitle"].where (job_title["jobTitle"]!="" ,"Not Disclosed")

In [301]:
weather.tail(10)

    weather_station month-year  year  month element  reading        date  tmax
672         MX17004     7-2010  2010      7    tmax      NaN   31-7-2010   NaN
673         MX17004     7-2010  2010      7    tmin      NaN   31-7-2010   NaN
674         MX17004     8-2010  2010      8    tmax     25.4   31-8-2010  25.4
675         MX17004     8-2010  2010      8    tmin     15.4   31-8-2010   NaN
676         MX17004    10-2010  2010     10    tmax      NaN  31-10-2010   NaN
677         MX17004    10-2010  2010     10    tmin      NaN  31-10-2010   NaN
678         MX17004    11-2010  2010     11    tmax      NaN  31-11-2010   NaN
679         MX17004    11-2010  2010     11    tmin      NaN  31-11-2010   NaN
680         MX17004    12-2010  2010     12    tmax      NaN  31-12-2010   NaN
681         MX17004    12-2010  2010     12    tmin      NaN  31-12-2010   NaN

In [302]:
weather["tmin"] = weather["reading"].where(weather["element"]=="tmin")

In [303]:
#Make another list to drop
#I'm keeping year and month because it can be useful for some operations
drop_cols = ["reading", "element", "month-year"]  
weather = weather.drop(drop_cols, axis=1)

In [304]:
weather.tail(10)

    weather_station  year  month        date  tmax  tmin
672         MX17004  2010      7   31-7-2010   NaN   NaN
673         MX17004  2010      7   31-7-2010   NaN   NaN
674         MX17004  2010      8   31-8-2010  25.4   NaN
675         MX17004  2010      8   31-8-2010   NaN  15.4
676         MX17004  2010     10  31-10-2010   NaN   NaN
677         MX17004  2010     10  31-10-2010   NaN   NaN
678         MX17004  2010     11  31-11-2010   NaN   NaN
679         MX17004  2010     11  31-11-2010   NaN   NaN
680         MX17004  2010     12  31-12-2010   NaN   NaN
681         MX17004  2010     12  31-12-2010   NaN   NaN

In [306]:
# remove duplicates

weather = weather.drop_duplicates()
weather.tail()

    weather_station  year  month        date  tmax  tmin
674         MX17004  2010      8   31-8-2010  25.4   NaN
675         MX17004  2010      8   31-8-2010   NaN  15.4
676         MX17004  2010     10  31-10-2010   NaN   NaN
678         MX17004  2010     11  31-11-2010   NaN   NaN
680         MX17004  2010     12  31-12-2010   NaN   NaN

In [285]:
#I want to have tmin and tmax in the same row, one row per date
#groupby creates multiindex

weather = weather.groupby(["weather_station", "month", "year", "date"]).sum()
weather.tail(10)

                                       reading  tmax  tmin
weather_station month year date
MX17004         12    2010 29-12-2010      0.0   0.0   0.0
                           3-12-2010       0.0   0.0   0.0
                           30-12-2010      0.0   0.0   0.0
                           31-12-2010      0.0   0.0   0.0
                           4-12-2010       0.0   0.0   0.0
                           5-12-2010       0.0   0.0   0.0
                           6-12-2010      38.3  27.8  10.5
                           7-12-2010       0.0   0.0   0.0
                           8-12-2010       0.0   0.0   0.0
                           9-12-2010       0.0   0.0   0.0

In [253]:
weather.shape

(341, 2)

In [227]:
#does not remove 0.0

weather = weather.fillna("NA")

In [254]:
weather["tmax"].dtypes

dtype('float64')

In [256]:
#Use a where condition
#As far as I can tell, there were no temp readings of 0.0, or of negative values
weather["tmax"] = weather["tmax"].where(weather["tmax"]!=0.0 ,"NA")

In [257]:
weather.tail(10)

                                       tmax  tmin
weather_station month year date
MX17004         12    2010 29-12-2010    NA   0.0
                           3-12-2010     NA   0.0
                           30-12-2010    NA   0.0
                           31-12-2010    NA   0.0
                           4-12-2010     NA   0.0
                           5-12-2010     NA   0.0
                           6-12-2010   27.8  10.5
                           7-12-2010     NA   0.0
                           8-12-2010     NA   0.0
                           9-12-2010     NA   0.0

In [258]:
weather["tmin"] = weather["tmin"].where(weather["tmin"]!=0.0 ,"NA")

In [267]:
weather.tail()

                                      tmax  tmin
weather_station month year date
MX17004         12    2010 5-12-2010    NA    NA
                           6-12-2010  27.8  10.5
                           7-12-2010    NA    NA
                           8-12-2010    NA    NA
                           9-12-2010    NA    NA

In [261]:
# I find multiindexing confusing
weather.shape

(341, 2)